@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@layer base {
  body {
      @apply font-[Quicksand];
    }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }
} 



.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  
  background-image: linear-gradient(
    to top,
    rgba(255, 176, 112, 0.421),
    hsla(198, 35%, 15%, 0.904)
  )!important;
}

ul a.active {
  padding: 0px 5px ;
  border-bottom: 2px solid rgb(178, 176, 124);
}